body {
	color: white;
	width: 90%;
	background: #02010a;
	font-family: Dancing Script, cursive;
	src: url(../fuentes/DancingScript-Regular.ttf);
	text-shadow: 1px 2px black;
	animation: slidein 1s;
}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
	border-radius: 10px;
	background-color: #5b7989;
}

#contenido {
	margin: 1%;
	text-align: center;
	background: #82c3a6;
}
#contenido2{
	margin: 1%;
	text-align: center;
	background: #d5c75f;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: justify;
  background-color: #C6d5c5;
}


img{
	border-radius: 10px;

}
.contenedor {
	text-align: center;
}

#imagen2 img{
	background: #82c3a6;}

@keyframes imagen2-animacion {
	0%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(10deg);
	}

	}
	#imagen2 img{
		animation-name: imagen2-animacion;
		animation-duration: 2s;
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-o-animation-delay: 1s;
		animation-delay: 1s;
	}
	@keyframes imagen3 imagen3-animacion {
		0%{
		transition-delay: 5px 0 2px 0;
		}
		50%{
			transition-delay: 5px 0 2px 0;
		}
		100%{
			transition-delay: 5px 0 2px 0;
		}

	}
	#imagen3 {
	background: black;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}
@keyframes slidein{
0% {
margin-top: 150%;
}

60% {
margin-top: -5%;
}

100% {
margin-top: 0%;
}
}
#menu-principal{
	text-align: left;
}
